@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 300px;
}

.stock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.stock-item {
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.stock-item_info{
  display: flex;
  align-items: center;
}

.stock-item_cover{
  flex: 0 0 20px;
  margin-right: 15px;
}

.stock-item_cover img{
  width: 100%;
}

.stock-item_title{
  font-size: 14px;
}

.stock-item_title span{
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #777;
  margin-top: 3px;
}

.stock-item_price{
  flex: 0 0 100px;
  text-align: right;
}

.info{
  margin-top: 20px;
}